<div xmlns:th="http://www.thymeleaf.org">
   <div class="container">
      <div class="col-md-4">
         <div class="images">
            <a href="https://www.facebook.com/BanhkemNgoNghinh102/" target="_blank"><img th:src="@{/images/facebook.png}"></a>
            <a href="#" target="_blank"><img  th:src="@{/images/twitter.png}"></a>
            <a href="#" target="_blank"><img th:src="@{/images/google.png}"></a>
         </div>
      </div>
      <div class="col-md-4">
         <div class="chufooter">
            <h5>Trang chủ </h5>
            <h5>Sản Phẩm</h5>
            <h5>Tin tức & Sự kiện</h5>
            <h5>Liên hệ</h5>
         </div>
      </div>
      <div class="col-md-4">
         <p> <a href="#">
            <span class="glyphicon glyphicon-map-marker"></span>
         </a>167 Võ Văn Ngân, phường Linh Chiểu, quận Thủ Đức, Tp Hồ Chí Minh
         </p>
         <p> <a href="#">
            <span class="glyphicon glyphicon-earphone"></span>
         </a>
            092 144 52 26
         </p>
      </div>
   </div>

</div>