<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Loai Banh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<th:block th:include="/_header"></th:block>
<div class="container-fluid">
    <h2 style="text-align: center">BÁNH</h2>
    <div class="product-preview-container" th:each="banhInfo : ${paginationBanhs.list}">
        <ul>
            <li><img class="product-image"
                     th:src="@{|/banhImage?code=${banhInfo.code}|}" /></li>
            <li>Name: <span th:utext="${banhInfo.name}"></span></li>
            <li>Price: <span th:utext="${#numbers.formatDecimal(banhInfo.price,2,2,'COMMA')}"></span></li>
            <li>
                <a th:href="@{|/buyProduct?code=${banhInfo.code}|}">Buy now</a>
            </li>
            <!-- For Manager edit Product -->
            <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
                <li>
                    <a style="color:red;"
                       th:href="@{|/admin/product?code=${banhInfo.code}|}">Edit Product</a>
                </li>
            </th:block>
        </ul>
    </div>

    <br/>
    <div class="page-navigator" th:if="${paginationBanhs.totalPages > 1}">
        <th:block th:each="page : ${paginationBanhs.navigationPages}">

            <a th:href="@{|/banhList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>

            <span class="nav-item" th:if="${page == -1}"> ... </span>

        </th:block>
    </div>
    <th:block th:include="/_footer"></th:block>
</div>
</body>
</html>